{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
<body class="tdstyle" background="https://images.unsplash.com/photo-1487611459768-bd414656ea10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
<div class="navbar" align="center">
  <a href="{% url 'home' %}">Home</a>
  <a href="{% url 'platform'%}">PLATFORM</a>
  <a href="{% url 'services'%}">SERVICES</a>
  <div class="dropdown">
    <button class="dropbtn">ABOUT US
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'company' %}">company</a>
      <a href="{% url 'cont' %}">contact</a>
    </div>
  </div>
</div>

</body>
</html>